html
{
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;

}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fce9b7;
  height: 100%;
  margin: 0;
  padding: 0px;
}

.navbar {
  background-color: #21abbf !important;  /* fallback for old browsers */
  
}

.modal-content {
  background-color: #fef8e6 !important;
}

.form-select {
  background-color: #fffbf3 !important;
  border: var(--bs-border-width) solid #fce9b7 !important;
}

.list-group-item {
  background-color: #fff0cb;
  border: var(--bs-list-group-border-width) solid #f4dc9f;
}

.form-control {
  background-color: #fffbf3 !important;
  border: var(--bs-border-width) solid #fce9b7 !important;
}

#canvas
{  
  animation-fill-mode: forwards;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #fef1ca 1px, transparent 1px),
    linear-gradient(to bottom, #fef1ca 1px, transparent 1px);

}


.outer-scroll{
  
  max-height: 80%;
  overflow: scroll;
  position: relative;
}

.inner-scroll{
  width: 3000px;
  height: 2000px;
  position: relative;
}

.round-box
{
  border-radius: 5px;
  border: 3px solid;
  border-color: #f4dc9f;
  background-color: #fef8e6; 
  border-radius: 25px;

}

.dot {
  display: flex;
  height: 70px;
  width: 70px;
  background-color: #ec0404;
  border: 5px solid;
  border-color: #080000;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  color: #292929;
  text-align: center;
  word-wrap:none;
  position: absolute;
  align-items:center;
  justify-content:center;
  line-height: 60px;
  
}

.inicial {
  filter: brightness(108%) saturate(108%) drop-shadow(0px 0px 8px #f3ca58);
  box-shadow: 0px 0px 0px 6px rgb(250, 240, 100) !important;
}

.dot-text {
  --shadow: #ff44ff;
  margin: 0 -1000%;
  text-shadow: var(--shadow)4px 0px 0px, var(--shadow)3.87565px 0.989616px 0px, var(--shadow)3.51033px 1.9177px 0px, var(--shadow)2.92676px 2.72656px 0px, var(--shadow)2.16121px 3.36588px 0px, var(--shadow)1.26129px 3.79594px 0px, var(--shadow)0.282949px 3.98998px 0px, var(--shadow)-0.712984px 3.93594px 0px, var(--shadow)-1.66459px 3.63719px 0px, var(--shadow)-2.51269px 3.11229px 0px, var(--shadow)-3.20457px 2.39389px 0px, var(--shadow)-3.69721px 1.52664px 0px, var(--shadow)-3.95997px 0.56448px 0px, var(--shadow)-3.97652px -0.432781px 0px, var(--shadow)-3.74583px -1.40313px 0px, var(--shadow)-3.28224px -2.28625px 0px, var(--shadow)-2.61457px -3.02721px 0px, var(--shadow)-1.78435px -3.57996px 0px, var(--shadow)-0.843183px -3.91012px 0px, var(--shadow)0.150409px -3.99717px 0px, var(--shadow)1.13465px -3.8357px 0px, var(--shadow)2.04834px -3.43574px 0px, var(--shadow)2.83468px -2.82216px 0px, var(--shadow)3.44477px -2.03312px 0px, var(--shadow)3.84068px -1.11766px 0px, var(--shadow)3.9978px -0.132717px 0px;
  pointer-events: none;
}

.dot:hover{
  filter: brightness(108%) saturate(105%);
}

.dot:active {
  box-shadow : 0 2px 10px #aa745b !important;
}

.arrow{
  position: absolute;
  left: 37px;
  top: -62px;
  width: 189px;
  height: 200px;
  pointer-events: none;
  font-size: 64px;
  overflow: visible;
}

.zoom-button {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #f6e3ac;
  background-color: #fce9b7; 
  z-index: 99;
  color: #d39a7b;
  font-size: 28px;
  text-align: center;
  align-items:center;
  justify-content:center;
  line-height: 40px;
  font-weight: 900;
}

.zoom-button.second {
  margin-top: 90px;
}

.zoom-button:hover {
  background-color: #fff0c8;
  color: #dba486;
}

.zoom-button:active {
  background-color: #fff3d3;
  color: #ffd5be;
  border-color: #f6e3ac;
}

.zoom-group {
  position:absolute;
  right: 60px;
  bottom: 120px;
}


.action-button {
  margin: 5px;
  background-color: #22adc0;
  border: 3px solid;
  border-color: #1d8c9c;
  box-shadow: 0 8px 0 #20608d;
  color: #fef8e6;
}

.action-button:hover {
  background-color: #33bacc;
  border-color: #1d8c9c;
  color: #fef8e6;
}

.action-button:active {
  background-color: #6de0f0 !important;
  border-color: #1d8c9c !important;
  color: #33bacc !important;
}


.stop-button {
  margin: 5px;
  background-color: #fb8880;
  border: 3px solid;
  border-color: #e4665d;
  box-shadow: 0 8px 0 #b24a45;
  color: #fef8e6;
}

.stop-button:hover {
  background-color: #fda09a;
  border-color: #e4665d;
  color: #fef8e6;
}

.stop-button:active {
  background-color: #ffaaa4 !important;
  border-color: #e4665d !important;
  color: #fb8880 !important;
}

.skip-button {
  margin: 5px;
  background-color: #f6d178;
  border: 3px solid;
  border-color: #f2b459;
  box-shadow: 0 8px 0 #d48a5f;
  color: #fef8e6;
}

.skip-button:hover {
  background-color: #ffda85;
  border-color: #f2b459;
  color: #fef8e6;
}

.skip-button:active {
  background-color: #ffeab8 !important;
  border-color: #f2b459 !important;
  color: #f6d178 !important;
}



::-webkit-scrollbar-track
{
	width: 30px;
  height: 30px;
  margin: 20px;
	border-radius: 25px;
	background-color: #ffffff00;
}

::-webkit-scrollbar
{

	width: 12px;
  height: 12px;

	background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb
{
	border-radius: 25px;
	
	background-color: #f4dc9f;
  border: 3px solid #fef8e6;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}