html {
    overflow: visible;
}

.blur {
    filter: blur(30px) !important;
}

.invert {
    filter: invert(100%);
}

.darken {
    filter: brightness(50%);

}

.gray {
    filter: grayscale(0.5);
    filter: contrast(1.1);

}

.lighten {
    filter: brightness(130%);
}

.image-cover {
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.center {
    background-position: center center;
    position: relative;
}



.center {
    left: 50%;
    margin-left: -25%;
    top: 20%;
}

.parallax {
    position: fixed;
}

.shadoww {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.486);
}

.content-section {
    background-color: var(--color-primary);
    color: var(--text-color) !important;
}

.main-button {
    margin-top: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    width: 20%;
    font-size: 30px;
    color: white;

    transition: background-color 0.15s ease-in-out, color 0.3s ease-in-out;
}

.main-button:hover {
    background-color: white;
    color: #474747;
}

.main-button:active {
    background-color: rgb(202, 202, 202);
}

.list-group {
    max-height: 800px !important;
    overflow: scroll !important;
}

.table {
    background-color: var(--color-terciary) !important;
    color: var(--text-color) !important;
    border: 3px solid var(--color-secondary-border) !important;
}



.list-group-item {
    color: var(--text-color) !important;
    background-color: var(--color-secondary) !important;
    border: var(--bs-list-group-border-width) solid var(--color-secondary-border) !important;
}

.list-group-item:hover {
    color: var(--text-color) !important;
    background-color: var(--color-terciary) !important;
    border: var(--bs-list-group-border-width) solid var(--color-secondary-border) !important;
}

.card {
    background-color: var(--color-terciary) !important;
    color: var(--text-color) !important;
    border: 3px solid var(--color-secondary-border) !important;
    border-radius: 25px !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("");
    min-height:30vh;
}

.bgimg-3 {
    background-image: url("/assets/mountain.jpg");
    min-height: 40vh;
}




footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer.footer .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: var(--action-color);
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
    background-color: var(--action-color-hover);
    text-decoration: none;
}



#home-top-video:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    filter: blur(30px) !important;
}

#home-top-video {
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    filter: blur(30px) brightness(90%) !important;
}

.freewall img {
    max-width: 33%;
}